@import url('https://fonts.cdnfonts.com/css/ds-digital');

body {
    margin: 0;
    background: #1B244A;

}

.container {
    display: flex;
    justify-content: space-around;
    height: 36px;
    left: 85px;
    top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

#home-block {
    position: absolute;
    height: 120px;
    width: 170px;
    left: 255px;
    top: 125px;
    border-radius: 5px;
    background: black;
}

#away-block {
    position: absolute;
    height: 120px;
    width: 170px;
    right: 262px;
    top: 125px;
    border-radius: 5px;
    background: black;
}

#home-points {
    position: absolute;
    height: 120px;
    width: 170px;
    left: 310px;
    top: 45px;
    border-radius: 5px;
    font-size: 90px;
    color: #F94F6D;
    font-family: 'DS-Digital', sans-serif;
}

#away-points {
    position: absolute;
    height: 120px;
    width: 170px;
    right: 205px;
    top: 45px;
    border-radius: 5px;
    font-size: 90px;
    color: #F94F6D;
    font-family: 'DS-Digital', sans-serif;
}

.home-btns {
    position: absolute;
    height: 45px;
    width: 200px;
    left: 255px;
    top: 271px;
}

.away-btns {
    position: absolute;
    height: 45px;
    width: 200px;
    right: 232px;
    top: 271px;
}

button {
    font-family: 'DS-Digital', sans-serif;
    padding: 10px 15px;
    font-size: 24px;
    background-color: #1B244A;
    color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 5px;

}


/* identical to box height, or 90% */